
<footer class="footer-basic-centered navbar-fixed-bottom">

      <p class="footer-links">
        <%= link_to "Crimpr Climbing", root_path %>

        <a href="#">Blog</a>
        <!-- modal linking to the blog -->

        <a href="#">About</a>
        <!-- Modal explaining crimpr -->

        <a href="#">Contact</a>
      </p>

      <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>

      <p class="footer-company-name">&copy; Crimpr 2015</p>

</footer>


