
<footer class="footer-basic-centered">

      <p class="footer-links">
        <a href="#">Home</a>

        <a href="#">Blog</a>

        <a href="#">Company</a>

        <a href="#">About</a>

        <a href="#">Faq</a>

        <a href="#">Contact</a>
      </p>

      <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      <p class="footer-company-name">Crimpr &copy; 2015</p>

    </footer>


