/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
    padding-top: 62px;
    background-color: #DFE8EB;
}

#list {
  width: 80%;
  text-align: justify;
  border-radius: 4px;
  margin: 20px;

}

.margin {
  margin-left: 20px;
}
