/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
    padding-top: 58px;
    padding-bottom: 60px;
    background-color: #E6E6E6;
}
.container {
    height: auto;
    width: 90%;
}

.bottom {
    border-bottom: 1px solid #ccc;
}

#list {
  background-color: rgba(13, 0, 32, 0.70);
  width: 90%;
  height: 80%;
  text-align: justify;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 2px 2px 1px;
  color: #141217;
}

#list h1, h2 {
  color: #FDFDFC;
}

#list a {
  color: rgba(13, 0, 32, 0.70);
}


#notice, #alert {
  background-color: none;
}

.margin {
  margin-left: 20px;
}

.alert {
  padding: 0px;
  margin: 0;
  border-radius: 0px;
  border: 0px;
}
// Classes to center a column in bootstrap
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-min {
    /* custom min width */
    min-width:320px;
}

.card{
  width: 100%;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #F9F9F9;
}

.icon {
  width: 20px;
  height: 20px;
}
