/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
    padding-top: 62px;
}

#list {
  width: 80%;
  text-align: justify;
  border-radius: 4px;
  margin: 20px;

}

.margin {
  margin-left: 20px;
}

// Classes to center a column in bootstrap
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-min {
    /* custom min width */
    min-width:320px;
}
