.footer-basic-centered{

  background: #B4A387;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  text-align: center;
  font: normal 18px sans-serif;
  position: fixed;

  padding: 5px;
  margin-top: 0px;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
}

#logo {
  height: 40px;
  width: 140px;
}

.footer-basic-centered .footer-company-name{
  color:  #ffffff;
  margin: 0;
}

.footer-company-name {
  font-size: 12px;
}


.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 5px 0 0 0px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-right: 40px;
  font-size: 12px;
}

.footer-basic-centered .footer-links a:hover {
  color: #ff9816;
}

.footer-icons{
  margin-top: 15px;
}

.footer-icons a{
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color:  #ff9816;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 10px;
  margin-bottom: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}


