 <h2 style="color: #333333;">Need a buddy?</h2>
 <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index +=1 %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "Open chat", "#", class: "btn btn-success btn-xs start-conversation",
                        "data-sid" => current_user.id, "data-rip" => user.id %>
          </td>
        </tr>
        <% end %>
