<!-- Banner -->
<div id="banner" style="overflow: hidden">
  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 padded margin">
        <h2>Where will you climb next?</h2>
        <!-- search with Geolocation -->
        <form id="geolocation" action="/areas" class="row" >
          <input type="hidden" id="lat" name="lat" value="">
          <input type="hidden" id="lng" name="lng" value="">
          <div class="input-group col-sm-9">
            <input type="text" id="query" name="query" value="" class="form-control" />
            <span class="input-group-btn">
              <input type="Submit" name="Submit" class='btn btn-default' value='Climb here!' class="btn btn-default" />
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function(){
       var geocoder = new google.maps.Geocoder();
      <!-- Hidden form fields with geolocation coordinates -->
      if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position){
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var latlng = new google.maps.LatLng(lat,lng);

              geocoder.geocode({
                  'location': latlng
              }, function(responses) {
            $("#query").val(responses[0].formatted_address)
            });


            $("#lat").val(lat);
            $("#lng").val(lng);
          })
        }
        else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }

        var delay = (function(){
          var timer = 0;
          return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
          };
        })();

      <!-- If user customizes search input, calculate new coordinates for hidden fields -->
      $("#query").on("keyup", function() {
        delay(function(){
          user_input = $("#query").val();

          geocoder.geocode({ 'address': user_input},
            function(results, status)   {
              if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location["H"];
                var longitude = results[0].geometry.location["L"];
                $("#lat").val(latitude);
                $("#lng").val(longitude);
              }
              else {
                alert("Geocode was not successful for the following reason: " + status);
              }
            });

        }, 350);
      });
    });

    <% end %>
  <% end %>
</div>
